login {
    .logo {
        padding: 20px 0;
        min-height: 200px;
        text-align: center;
        img {
            max-width: 150px;
        }
    }
    .list {
        margin-bottom: 0;
    }
    ion-label {
        margin: 13px 5px 13px 0 !important;
    }
    ion-toolbar,
    ion-item {
        padding: 0 20px !important;
        margin-bottom: 10px !important;
        border: 0px !important;
    }
    ion-toolbar .toolbar-background {
        background-color: transparent !important;
    }
}