<ion-header>
  <ion-navbar>
    <ion-title>Xác nhận đặt hàng</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list class="my-ion-list">
    <ion-list-header>
      Địa chỉ giao hàng
      <button ion-button item-end clear (tap)="addressModal()">
        Thêm
      </button>
    </ion-list-header>
    <ion-item *ngFor="let address of addresses; let i = index" [class.checked]="isAddressChecked(i)">
      <div class="tap-area" (tap)="test()"></div>
      <ion-row>
        <div ion-col col-11 text-left>
          <ion-icon [name]="isAddressChecked(i) ? 'checkbox' : 'square' " class="check-box" (tap)="setCheckedIndex(i)"></ion-icon>
          Địa chỉ {{i + 1}}
        </div>
        <div *ngIf="i > 0" class="primary-text" ion-col col-1 text-right>
          <ion-icon name="md-create" class="more-opts" (tap)="addressModal(i)"></ion-icon>
        </div>
      </ion-row>
      <p class="rating-review">
        {{address}}
      </p>
    </ion-item>
  </ion-list>
</ion-content>


<div id="invoice-info-box">
  <ion-list>
    <ion-item>
      <ion-label>&nbsp;&nbsp;ngày nhận</ion-label>
      <ion-datetime [(ngModel)]="time" cancelText="Hủy bỏ" doneText="Đồng ý" name="time" displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY"
        [min]="min" [max]="max" monthNames="Tháng Một, Tháng Hai, Tháng Ba, Tháng Bốn, Tháng Năm, Tháng Sáu, Tháng Bảy, Tháng Tám, Tháng Chín, Tháng Mười, Tháng Mười Một, Tháng Mười Hai">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>&nbsp;&nbsp;thời gian</ion-label>
      <ion-select [(ngModel)]="timeDeliver">
        <ion-option value="morning">08-10h sáng</ion-option>
        <ion-option value="afternoon">14-16h chiều</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <button style="height: 50px; margin: 0px;" ion-button full (tap)="confirmInvoice()">
    đồng ý
  </button>
</div>