<ion-header>
  <ion-navbar>
    <ion-title>Xác nhận đặt hàng</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list class="my-ion-list">
    <ion-list-header>
      Địa chỉ giao hàng
      <button ion-button item-end clear (tap)="addOrEditAddress()">
        Thêm
      </button>
    </ion-list-header>
    <h3 *ngIf="!user.address" ion-text color="google" style="margin: 10px 0;">Chưa có địa chỉ giao hàng!!!</h3>
    <ion-item *ngIf="user.address">
      <ion-row align-items-center>
        <ion-col col-3 text-left class="label">
          Họ tên
        </ion-col>
        <ion-col col-9 text-right class="value">
          {{user.name}}
        </ion-col>
      </ion-row>
      <ion-row align-items-center>
        <ion-col col-3 text-left class="label">
          Giới tính
        </ion-col>
        <ion-col col-9 text-right class="value" [innerHTML]="user.isMale ? 'Nam' : 'Nữ'">
        </ion-col>
      </ion-row>
      <ion-row align-items-center>
        <ion-col col-3 text-left class="label">
          Ngày sinh
        </ion-col>
        <ion-col col-9 text-right class="value">
          {{birthdateFormat()}}
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item *ngIf="user.address" [class.checked]="isAddressChecked(-1)">
      <div class="tap-area sound" (tap)="setCheckedIndex(-1)"></div>
      <ion-row>
        <div ion-col col-11 text-left>
          <p class="address">
            {{user.address}}
          </p>
        </div>
        <div ion-col col-1 text-right>
          <ion-icon color="google" name="md-create" class="more-opts sound" (tap)="addOrEditAddress(-1)"></ion-icon>
        </div>
      </ion-row>
    </ion-item>

    <ion-item *ngFor="let address of deliverAddresses; let i = index" [class.checked]="isAddressChecked(i)">
      <div class="tap-area sound" (tap)="setCheckedIndex(i)"></div>
      <ion-row>
        <div ion-col col-11 text-left>
          <p class="address">
            {{address}}
          </p>
        </div>
        <div ion-col col-1 text-right>
          <ion-icon color="google" name="md-create" class="more-opts sound" (tap)="addOrEditAddress(i)"></ion-icon>
        </div>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>


<div id="invoice-info-box">
  <ion-list>
    <ion-item>
      <ion-label>&nbsp;&nbsp;ngày nhận</ion-label>
      <ion-datetime [(ngModel)]="time" cancelText="Hủy bỏ" doneText="Đồng ý" name="time" displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY"
        [min]="min" [max]="max" monthNames="Tháng Một, Tháng Hai, Tháng Ba, Tháng Bốn, Tháng Năm, Tháng Sáu, Tháng Bảy, Tháng Tám, Tháng Chín, Tháng Mười, Tháng Mười Một, Tháng Mười Hai">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>&nbsp;&nbsp;thời gian</ion-label>
      <ion-select [(ngModel)]="timeDeliver">
        <ion-option value="morning">08-11h sáng</ion-option>
        <ion-option value="afternoon">14-17h chiều</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <button style="height: 50px; margin: 0px;" ion-button full (tap)="confirmInvoice()">
    đồng ý
  </button>
</div>