cart-confirm {
    .col {
        padding: 0px;
        color: #666;
        .more-opts {
            padding-left: 10px;
            z-index: 999 !important;
        }
    }
    .item {
        &.checked .item-inner .input-wrapper .label {
            .address {
                color: color($colors, primary);
                font-style: italic;
            }
        }
        .tap-area {
            width: 90%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 10%;
            background: transparent;
            z-index: 997;
        }
    }
    .list-header {
        border: none;
        border-bottom: 1px solid #dedede;
        margin-bottom: 0px;
        font-size: 1.6rem;
        color: color($colors, primary);
    }
    #invoice-info-box {
        background: transparent;
        padding: 10px;
        z-index: 9999;
        box-sizing: border-box;
        width: 100%;
        max-height: 190px;
        position: absolute;
        bottom: 56px;
        left: 0px;
        ion-item,
        ion-item .item-inner,
        ion-item .item-inner ion-label,
        {
            padding: 0px;
        }
        ion-item .item-inner ion-label,
        {
            margin: 10px 0 0 0;
        }
        ion-list.list {
            border: 1px solid #888;
            border-bottom: 0px;
            margin-bottom: 0px;
        }
    }
    .datetime-text,
    .select-text {
        color: #888888;
    }
    .text-input {
        color: #888;
        background-color: rgba(255, 255, 255, 0.3);
    }
    .my-ion-list {
        margin-bottom: 190px;
    }
    .check-colum {
        position: relative;
        .check-icon {
            position: absolute;
            top: 2px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 1.4em !important;        
        }
    }
    .bold-text {
        font-weight: 900;
    }
}