<ion-header no-shadow no-border>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle id="menuBtn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar color="primary" [(ngModel)]="searchQuery" animated="true" (ionInput)="presentSearchProducts()" placeholder="Tìm kiếm">
    </ion-searchbar>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="header-slide">
    <ion-slides loop="true" autoplay="3000" speed="500" pager="true" (ionSlideDidChange)="slideChanged()">
      <ion-slide>
        <img src="assets/imgs/slide1.jpg" class="slide-image">
      </ion-slide>
      <ion-slide>
        <img src="assets/imgs/slide3.jpg" class="slide-image">
      </ion-slide>
      <ion-slide>
        <img src="assets/imgs/slide2.jpg" class="slide-image">
      </ion-slide>
      <ion-slide>
        <img src="assets/imgs/slide4.jpg" class="slide-image">
      </ion-slide>
    </ion-slides>
  </div>
  <div class="filter-box">
    <ul>
      <li class="myBtn" (tap)="filter('all')" [ngClass]="(filterOptions == 'all') ? 'bgGoogle' : ''">
        Tất cả
      </li>
      <li class="myBtn" (tap)="filter('sale')" [ngClass]="(filterOptions == 'sale') ? 'bgGoogle' : ''">
        Khuyến mãi
      </li>
      <li class="myBtn" (tap)="filter('favorite')" [ngClass]="(filterOptions == 'favorite') ? 'bgGoogle' : ''">
        Yêu thích
      </li>
    </ul>

  </div>
  <h2 class="title" [ngSwitch]="filterOptions">
      <ng-container *ngSwitchCase="'all'">
        <span>Rau an toàn</span>
        <span class="span-des">theo tiêu chuẩn VietGAP</span>
      </ng-container>
      <ng-container *ngSwitchCase="'sale'">
        <span>Khuyến mãi</span>
        <span class="span-des">sản phẩm ưu đãi giá</span>
      </ng-container>
      <ng-container *ngSwitchCase="'favorite'">
        <span>Yêu thích</span>
        <span class="span-des">sản phẩm được quan tâm</span>
      </ng-container>
  </h2>
  <div class="products-list">
    <ion-card *ngFor="let product of showedProducts" class="product-card">
      <img [class]="product.amount == 0 ? 'out-of-stock' : ''" [src]="product.image" (tap)="openProduct(product)" />
      <ion-card-content>
        <ion-card-title>
          {{product.name}}
        </ion-card-title>
        <ion-row>
          <ion-col align-self-center>
            <p>
              {{getAverageRate(product)}}
              <ion-icon color="google" name="star"></ion-icon>
            </p>
          </ion-col>
          <ion-col align-self-center text-right>
            <p>có: {{product.amount}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col align-self-center *ngIf="product.oldPrice" text-left>
            <h3 class="oldPrice">{{product.oldPrice | number : fractionSize}} đ</h3>
          </ion-col>
          <ion-col align-self-center text-right>
            <h3 class="newPrice">
              {{product.unitPrice | number : fractionSize}} đ
            </h3>
          </ion-col>
        </ion-row>
        <button ion-button outline full (tap)="addToCartOpt(product)" data-tap-disabled="true" id="btn-add-to-cart">
          <ion-icon name="cart"></ion-icon>
          <span>&nbsp;Mua ngay</span>
        </button>
      </ion-card-content>
      <ng-container *ngIf="isFavoriteProduct(product.id);then favorite else not_favorite">
      </ng-container>
      <ng-template #favorite>
        <ion-icon *ngIf="userData.hasLoggedIn" name="heart" class="product-favorite favorite" data-tap-disabled="true" (tap)="addToFavorite(product.id, false)">
        </ion-icon>
      </ng-template>
      <ng-template #not_favorite>
        <ion-icon *ngIf="userData.hasLoggedIn" name="heart-outline" class="product-favorite" data-tap-disabled="true" (tap)="addToFavorite(product.id, true)">
        </ion-icon>
      </ng-template>

    </ion-card>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Tải thêm dữ liệu...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>  

</ion-content>