page-store {
    #menuBtn,
    ion-buttons {
        z-index: 999;
        display: block;
        position: absolute;
        .button-inner {
            color: color($colors, text);
        }
    }
    ion-buttons {
        padding-right: 16px;
        right: 0px;
    }
    .searchbar-md,
    .searchbar-ios,
    ion-searchbar {
        .searchbar-search-icon {
            display: none !important;
        }
        .searchbar-input {
            border-radius: 0;
            background-color: rgba(255, 255, 255, 0.8) !important;
            box-shadow: none;
            border: 1px solid color($colors, light);
        }
    }
    .header-md::after,
    .header-ios::after,
    ion-header::after {
        background: transparent;
        position: relative;
    }
    .toolbar-background-md,
    .toolbar-background-ios,
    .toolbar-background {
        background: transparent;
    }
    ion-navbar.toolbar {
        position: absolute;
        z-index: 999;
    }
    ion-content {
        .header-slide {
            width: 100%;
            height: 200px;
            .swiper-slide img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
        }
        .filter-box {
            padding: 0 10px;
            margin-top: 10px;
            line-height: 100%;
            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                margin-bottom: 5px;
                background-color: color($colors, primary);
            }
            ul {
                display: inline-block;
                padding: 0;
                margin: 0;
                list-style: none;
                li {
                    float: left;
                    padding: 10px 15px;
                    margin-right: 5px;
                    margin-bottom: 5px;
                    background-color: color($colors, primary);
                    border-radius: 15px;
                    color: #fff;
                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
        }
        .title {
            padding: 5px 10px;
            margin: 0px;
            font-size: 2rem;
            text-transform: uppercase;
            color: color($colors, primary);
            .span-des {
                color: color($colors, text);
                text-transform: none;
                font-size: 1.5rem;
            }
        }
        ion-card.card-md.product-card,
        ion-card.card-ios.product-card {
            animation-name: card-animation;
            animation-fill-mode: forwards;
            animation-duration: .8s;
            animation-iteration-count: 1;
            animation-delay: .5s;
            opacity: 0;
            float: left;
            position: relative;
            min-width: 160px !important;
            margin: 10px !important;
            img {
                width: 100%;
                height: 120px !important;
                object-fit: fill;
            }
            ion-card-content {
                padding: 10px;
                ion-card-title {
                    font-family: 'Baomoi_Regular';
                    text-transform: capitalize;
                    color: color($colors, dark);
                    max-height: 50px;
                    height: 50px;
                    padding-top: 0;
                    font-size: 1.6rem;
                }
                ion-row ion-col {
                    padding: 0px;
                }
            }
            .product-favorite {
                position: absolute;
                top: 5px;
                right: 5px;
                width: 30px;
                height: 30px;
                line-height: 30px;
                font-size: 2.5rem;
                color: color($colors, dark);
                text-align: center;
                background-color: rgba(255, 255, 255, 0.4);
                border-radius: 50%;
                &.favorite {
                    color: color($colors, danger) !important;
                }
            }
        }
         ::-webkit-scrollbar,
        *::-webkit-scrollbar {
            display: none;
        }
    }
}