<ion-header>
  <ion-navbar>
    <button ion-button menuToggle id="menuBtn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Giỏ hàng</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="cart-list-wrapper">
    <div *ngFor="let bill of cartBills; let i = index" class="cart-product">
      <ion-row align-items-center>
        <ion-col col-10 class="name">
          <h3 class="product--name">
            {{i+1}}
            <span>.&nbsp;</span>{{bill.productName}}
            <ion-badge item-end color="facebook">{{bill.quantity}}</ion-badge>
          </h3>
        </ion-col>
        <ion-col col-2 class="name" text-right style="font-size: 2rem;">
          <ion-icon class="sound remove-icon" name="close-circle" color="google" (tap)="removeBill(bill)"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row align-items-center>
        <ion-col col-3 class="product--cost single" style="padding-right: 5px;">
          {{(bill.salePrice ? bill.salePrice : bill.unitPrice) | number : fractionSize}} đ
        </ion-col>
        <ion-col col-2 class="quantity-control sound" (tap)="quantityChange(i, -1)">
          <ion-icon name="remove"></ion-icon>
        </ion-col>
        <ion-col col-2 class="quantity-box">
          {{bill.quantity}}
        </ion-col>
        <ion-col col-2 class="quantity-control sound" (tap)="quantityChange(i, 1)">
          <ion-icon name="add"></ion-icon>
        </ion-col>
        <ion-col col-3 class="product--cost" style="padding-left: 5px;">
          {{(bill.salePrice ? bill.salePrice * bill.quantity : bill.unitPrice * bill.quantity) | number : fractionSize}} đ
        </ion-col>
      </ion-row>
    </div>
    <div class="cart-product">
      <ion-row>
        <ion-col col-12 class="name">
          <h3 class="product--name" text-left>
            Phí giao hàng 
          </h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-9 text-left style="padding-left: 0; color: #888;">
        (miễn phí đơn trên 50,000 đ)
        </ion-col>
        <ion-col col-3 class="product--cost" style="padding-left: 5px;">
          {{getShipCost() | number : fractionSize}} đ
        </ion-col>
      </ion-row>
    </div>
    <div class="cart-product">
      <ion-row>
        <ion-col col-12 class="name">
          <h3 class="product--name" text-left>
            Điểm tích luỹ: {{userSaved | number : fractionSize}} đ
          </h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-9 text-left style="padding-left: 0;">
          <ion-item style="padding: 0;">
            <ion-label>dùng tích luỹ</ion-label>
            <ion-checkbox [(ngModel)]="useSaved" [disabled]="userSaved < 5000"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col col-3 class="product--cost" style="padding-left: 5px;">
          <span *ngIf="useSaved" ion-text color="google">-{{savedCalc() | number : fractionSize}} đ</span>
        </ion-col>
      </ion-row>
    </div>
    <div class="cart-product total">
      <ion-row align-items-center>
        <ion-col class="name">
          <h3 class="product--name" text-left>
            Tổng cộng:
          </h3>
        </ion-col>
        <ion-col class="name">
          <h3 class="product--name" text-right>
            {{getTotalCost() + getShipCost() -savedCalc() | number : fractionSize}} đ
          </h3>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>

<button id="confirm-btn" ion-button full (tap)="goConfirmCart()">
  đặt hàng
</button>