cart {
    .cart-list-wrapper {
        padding-bottom: 100px;
    }
    ion-row,
    ion-col,
    .name {
        padding: 0px;
    }
    .remove-icon {
        padding: 0 5px;
    }
    .cart-product {
        padding: 5px 0 10px;
        border-bottom: 1px solid #888;
        &.total {
            border: none;
        }
        .product--name {
            color: color($colors, primary);
        }
        .product--unit-price,
        {
            color: #888888;
        }
        ion-label {
            margin-right: 0px !important;
        }
        ion-row {
            margin-top: 10px;
        }
    }
    .quantity-control,
    .quantity-box,
    .product--cost {
        // height 40px
        padding: 0px 5px;
        margin: 0px;
        height: 30px;
        line-height: 30px;
        font-size: 1.4rem;
        text-align: center;
        text-transform: unset;
        background-color: $primary-light;
        color: $primary-dark;
        border: solid $primary-dark 1px;
    }
    .product--cost {
        color: color($colors, primary);
        text-align: right;
        background-color: transparent;
        border: none;
        font-size: 1.6rem;
        padding: 0px;
        &.single {
            color: #888888;
            text-align: left;
        }
    }
    .quantity-control {
        &:active {
            color: $primary-light;
            background-color: $primary-dark;
        }
    }
    .quantity-box {
        border-left: solid red 0px;
        border-right: solid red 0px;
    }
    #confirm-btn {
        z-index: 9999;
        width: 90%;
        height: 50px;
        position: absolute;
        bottom: 66px;
        left: 5%;
    }
}