product {
    ion-img {
        width: 100%;
        height: calc(3*100vw/4) !important;
        background-color: transparent;
        border-bottom: 1px solid rgba(0,0,0,0.17);
        img {
            width: 100% !important;
            object-fit: fill;
        }
        &.out-of-stock img {
            opacity: 0.4;
        }
    }
    .quantity-control,
    .quantity-box,
    #add-to-card__button {
        // height 40px
        padding: 0px 5px;
        margin: 0px;
        height: 40px;
        line-height: 40px;
        font-size: 1.6rem;
        text-align: center;
        text-transform: unset;
        background-color: $primary-light;
        color: $primary-dark;
        border: solid $primary-dark 1px;
    }
    .quantity-control {
        &:active {
            color: $primary-light;
        }
    }
    .quantity-box {
        border-left: solid red 0px;
        border-right: solid red 0px;
    }
    .span-value {
        color: #666;
    }
    #btn-review {
        border: 1px solid rgba(0, 0, 0, 0.17);
        padding: 5px 8px;
        border-radius: 2px;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
        color: #666;
        &:active {
            border: #666 1px solid;
        }
    }
    ion-footer {
        padding: 0 10px;
        bottom: 56px !important;
        .toolbar-background {
            background: transparent !important;
        }
        ion-toolbar {
            padding: 8px 10px;
            max-height: 56px;
        }
    }

    .item-inner {
        border: none !important;
    }
}