<ion-header>
  <ion-navbar>
    <ion-title>{{product.name}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-img [class]="product.amount < 1 ? 'out-of-stock' : ''" [src]="product.image">

  </ion-img>
  <ion-list class="my-ion-list">
    <ion-item>
      <h2 class="newPrice">
        <span class="oldPrice" *ngIf="product.salePrice">{{product.unitPrice | number : fractionSize}} đ</span>
        <span>&nbsp;{{product.salePrice | number : fractionSize}} đ</span>
        <span *ngIf="!product.salePrice">&nbsp;{{product.unitPrice | number : fractionSize}} đ</span>
      </h2>
      <h3 item-end>
        Hiện có:&nbsp;
        <span class="span-value">{{product.amount}}</span>
      </h3>
    </ion-item>
    <ion-item>
      <h3>Đánh giá:&nbsp;
        <span class="span-value">{{getAverageRate(product)}}</span>
        <ion-icon color="google" name="star"></ion-icon>
      </h3>
      <h3 item-end id="btn-review" class="sound" (tap)="openReview()">
        <ion-icon name="md-create"></ion-icon>
        Bình luận
      </h3>
    </ion-item>
    <ion-item>
      <h3>
        Mô tả
      </h3>
      <p>
        {{product.describe}}
      </p>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer no-border no-shadow>
  <ion-toolbar>
    <ion-row align-items-center>
      <ion-col style="padding: 0 10px">
        <button id="add-to-card__button" ion-button full outline icon-left data-tap-disabled="true" (tap)="addToCart()">
          <ion-icon name="cart"></ion-icon>
          MUA NGAY
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>