product {
    ion-img {
        width: 100%;
        height: 180px;
        background-color: transparent;
        img {
            width: 100%;
            height: auto;
        }
    }
    .quantity-control,
    .quantity-box,
    #add-to-card__button {
        // height 40px
        padding: 0px 5px;
        margin: 0px;
        height: 40px;
        line-height: 40px;
        font-size: 1.6rem;
        text-align: center;
        text-transform: unset;
        background-color: $primary-light;
        color: $primary-dark;
        border: solid $primary-dark 1px;
    }
    .quantity-control {
        &:active {
            color: $primary-light;
        }
    }
    .quantity-box {
        border-left: solid red 0px;
        border-right: solid red 0px;
    }

    ion-footer {
        padding: 0 10px;
        bottom: 56px !important;
        .toolbar-background {
            background: transparent !important;
        }
        ion-toolbar {
            padding: 8px 10px;
            max-height: 56px;
        }
    }
}