address-modal {
    .wrapper {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.6);
        position: relative;
    }
    .card {
        position: absolute;
        width: 80vw;
        max-width: 240px;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .item {
        padding: 0px;
        .item-inner {
            padding: 0px !important;
        }
    }
    textarea.text-input {
        margin: 0px !important;
        width: 100%;
        padding: 5px;
        outline: none !important;
        border: 1px solid rgba(0, 0, 0, 0.17);
        &:focus {
            box-shadow: 0 0 10px #719ECE;
        }
    }
    #close {        
        position: absolute;
        top: 5px;
        right: 5px;
        padding: 5px;
    }
    .item-button {
        margin: 0px !important;
    }
}