<div class="wrapper">
    <ion-card>
        <ion-icon color="google" name="close" id="close" (tap)="dismiss()"></ion-icon>
        <ion-card-header color="primary">
            {{title}}
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-textarea maxlength="200" autocorrect="off" name="address" [(ngModel)]="address" autosize placeholder="Địa chỉ">

                </ion-textarea>
            </ion-item>
            <p ion-text *ngIf="errMsg" color="danger" padding-left>
                {{errMsg}}
            </p>
            <ion-item>
                <button *ngIf="editMode" color="google" ion-button icon-left item-left (tap)="deleteAddress()">
                    <ion-icon name="close"></ion-icon>
                    Xóa bỏ
                </button>
                <button *ngIf="editMode" ion-button icon-left item-end (tap)="updateAddress()">
                    <ion-icon name="checkmark"></ion-icon>
                    Cập nhật
                </button>
                <button *ngIf="!editMode" color="google" (tap)="dismiss()" ion-button icon-left item-left>
                    <ion-icon name="close"></ion-icon>
                    Hủy bỏ
                </button>
                <button *ngIf="!editMode" ion-button icon-left item-end (tap)="createAddress()">
                    <ion-icon name="checkmark"></ion-icon>
                    Thêm mới
                </button>
            </ion-item>
        </ion-card-content>
    </ion-card>
</div>